<body>
<p>A virtual data lake enables users to mix and match data from different sources;
in this virtual data lake implementation, the data is held in a triple store,
which is connected to the data sources by source connectors.
</p>
<p>These packages can be used to build a virtual data lake with sources in the 
local file system, and with interfaces that an application program can use to
create, modify, and search the data in the sources.
</p>
<p>See the package documentation for more details. The documentation of the
triplestore package, which describes the basic concepts, is the best place to start.
</p>
</body>
